[submodule "sfbay_potw"]
	path = sfbay_potw
	url = https://github.com/rustychris/sfbay_potw.git
[submodule "sfbay_freshwater"]
	path = sfbay_freshwater
	url = ssh://git@stash.sfei.org:7999/nm/sfbay_freshwater.git
[submodule "sfb_dfm_utils"]
	path = sfb_dfm_utils
	url = ssh://git@stash.sfei.org:7999/nm/sfb_dfm_utils.git
[submodule "sfb_dfm"]
	path = sfb_dfm
	url = ssh://git@stash.sfei.org:7999/nm/sfb_dfm.git
